<html>
	<head>
		<title>The Adventures Of Super Bob!</title>
		<link rel="shortcut icon" href="../static/favicon.ico">
		<script src="../static/processing-1.4.1.js"></script>
		<script type="text/processing" data-processing-target="mycanvas">
		/* @pjs preload="/static/runningfigure.png"; */
		/* @pjs preload="/static/runningfigure2.png"; */
		/* @pjs preload="/static/flyingfigure.png"; */
		/* @pjs preload="/static/cab.png"; */
var car;
class Car{
	var carX;
	var carY;
	var taxicab;
	var carSpeed;


	Car(x, y, cspd){
	  carX = x;
		carY = y;
		carSpeed=cspd;
		taxicab = loadImage("../static/cab.png");
	}
	void drawCar(){
		image(taxicab, carX, carY, taxicab.width/2, taxicab.height/2);
}
		void moveCar(){
				carX = carX-carSpeed;
				if(carX<=40 && carX >=0 && bob.yPositionChar>=carY){
								window.location="/lose";
				}
		}
}
// void generateCar(){
// 		car = new Car(1300,490);
// 		car.drawCar();
// 		if (score==1000){
// 			carSpeed++;
// 			if (score==2000){
// 			carSpeed++;
// 				if (score==3000){
// 					carSpeed++;
// 					if (score==4000){
// 						carSpeed++;
// }}}}
//}
var bob;
class Character{
	var xPositionChar;
	var yPositionChar;
	var pic1;
	var pic2;
	var pic3;
	var currentPic;
	var picChange;
	var yvelocity = 0;
	var gravity = 2;
	var ground = 515;
	var ceiling = 40;

	Character(x, y){
		xPositionChar = x;
		yPositionChar = y;
		pic1 = loadImage("../static/runningfigure.png");
		pic2 = loadImage("../static/runningfigure2.png")
		pic3 = loadImage("../static/flyingfigure.png")

		currentPic = pic1;
		picChange = 0;
	}

	void drawCharacter(){
		image(currentPic, xPositionChar, yPositionChar, currentPic.width/2, currentPic.height/2);
		picChange += 1;
		yPositionChar=yPositionChar+yvelocity;
		yvelocity=yvelocity+gravity;
		if (yPositionChar > ground){
			yPositionChar = ground;
		}
		if (yPositionChar < ceiling){
			yPositionChar = ceiling -1;
		}

		if (yPositionChar == ground){
			if (currentPic == pic3){
				currentPic = pic1;
			}
		}
		if (picChange == 8){
			if (currentPic == pic1){
				currentPic = pic2;
			}
			else if (currentPic == pic2) {
				currentPic = pic1;
			}
			picChange=0;
		}
		if (keyPressed == true) {
			yvelocity=-10;
			currentPic = pic3;
  }
	}
 }
 var position = 0;
 var count = 1000;
 var keepingtrack = 0;
 void generateBuilding(){
 	var currentPos = position;
 	var width;
 	for (var i = 0; i < count; i++) {
 		width = random(40,60);
 		building1 = new Building(currentPos,random(50, 200),color(164,176,255),3,700,width);
 		layer1.push(building1);
 		currentPos = currentPos + width;
 	}
  currentPos=position;
 	for (var i = 0; i < count; i++) {
 		width = random(90,120);
 		building2 = new Building(currentPos,random(200, 350),color(149,160,233),7,700,width);
 		layer2.push(building2);
 		currentPos = currentPos + width;
 	}
  currentPos=position;
 	for (var i = 0; i < count; i++){
 		width = random(160,180);
 		//Buildings in Front Row
 		building3 = new Building(currentPos,random(90,600),color(85,97,176),9,700,width);
 		layer3.push(building3);
 		currentPos = currentPos + width;
 	}
 	position = currentPos+width;
 }

class Building {
  var xposition;
  var yposition;
  var color;
  var speed;
  var height;
  var width;

  Building(x, y, c, sp, h, w){
  		xposition = x;
  		yposition = y;
  		color = c;
  		speed = sp;
  		height = h;
  		width = w;
  	}
  void moveBuilding(){
		xposition = xposition - speed;
  }
  void drawBuilding(){
		if (xposition+width>=0 && xposition-width<=1250){
			noStroke();
			fill(color);
			rect(xposition, yposition, width, height);
		}
	}
}
var leftX = 0;
var rightX = 0;
void drawClouds(){
	noStroke();
	leftX-=1;
	rightX+=1;
	fill(255, 255, 255);
	ellipse(rightX, 50, 126, 97);
	ellipse(rightX+62, 50, 70, 60);
	ellipse(rightX-62, 50, 70, 60);
}

		var building1;
    var building2;
    var building3;
    var layer1 = [];
    var layer2 = [];
    var layer3 = [];
		var score=0;

void updateScore(){
	score++;
}
void checkForWin(){
	if (score==3050){
		window.location = "/win";
		console.log('win');
	}
}
void setup(){
	size(1250,700);
	fill(0,0,0);
	textSize(40);
	text("The Adventures of Super Bob!");
  background(48,124,221);
	generateBuilding();
	score = 0;
	bob = new Character(40,550);
	car1 = new Car(1300,490, 5);
	car2 = new Car(2000,490, 6);
	car3 = new Car(3900,490, 7);
	car4 = new Car(4700,490, 8);
	car5 = new Car(5700,490, 9);
	car6 = new Car(6700,490, 9);
	car7 = new Car(7000,490, 10);
	car8 = new Car(8500,490, 11);
	car9 = new Car(9000,490, 7);
	car10 = new Car(10300,490, 7);
	car11 = new Car(11700,490, 7);
	car12 = new Car(12400,490, 4);
	car13 = new Car(13100,490, 5);
	car14 = new Car(14000,490, 8);
	car15 = new Car(15300,490, 9);
	car16 = new Car(16700,490, 6);
	car17 = new Car(17300,490, 12);
	car18 = new Car(18800,490, 9);
	car19 = new Car(193000,490, 10);
	car20 = new Car(21000,490, 10);

//close setup
}

//function for drawing buildings, road, and everything else//loops 60 frames per sec
void draw(){
	background(48,124,221);
	drawClouds();
	keepingtrack++;
	if (keepingtrack == count-1){
		generateBuilding();
		keepingtrack = 0;
	}
	for(var i = 0; i < layer1.length; i++){
		layer1[i].drawBuilding();
		layer1[i].moveBuilding();
	}
	for(var i = 0; i < layer1.length; i++){
		layer2[i].drawBuilding();
		layer2[i].moveBuilding();
	}
	for(var i = 0; i < layer1.length; i++){
		layer3[i].drawBuilding();
		layer3[i].moveBuilding();
	}

	fill(168,168,168);
	rect(1300, 615, -1300, 90);
	bob.drawCharacter();
	car1.drawCar();
	car2.drawCar();
	car3.drawCar();
	car4.drawCar();
	car6.drawCar();
	car7.drawCar();
	car8.drawCar();
	car9.drawCar();
	car10.drawCar();
	car11.drawCar();
	car12.drawCar();
	car13.drawCar();
	car14.drawCar();
	car15.drawCar();
	car16.drawCar();
	car17.drawCar();
	car18.drawCar();
	car19.drawCar();
	car20.drawCar();

	car1.moveCar();
	car2.moveCar();
	car3.moveCar();
	car4.moveCar();
	car5.drawCar();
	car5.moveCar();
	car6.moveCar();
	car7.moveCar();
	car8.moveCar();
	car9.moveCar();
	car10.moveCar();
	car11.moveCar();
	car12.moveCar();
	car13.moveCar();
	car14.moveCar();
	car15.moveCar();
	car16.moveCar();
	car17.moveCar();
	car18.moveCar();
	car19.moveCar();
	car20.moveCar();

	fill(255,255,255);
	textSize(40);
	updateScore();
	checkForWin();
	text("Score: "+score,10,40);
}

		</script>
	</head>
	<body>
		<h1> The Adventures of Super Bob!</p>
		<canvas id="mycanvas"></canvas>
<!-- <iframe width="1" height="1" src="https://www.youtube.com/embed/wneADJ9_Qy0?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe> -->
<!-- <iframe width="1" height="1" src="https://www.youtube.com/embed/AtEfAcWPvps?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe> -->
	</body>
</html>
