<!DOCTYPE html>
<html>
<head>
  <title>Super Bob</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="/static/stylesheet.css">
</head>
<body>
  <h1>Adventures of Super Bob</h1>
  <h2>Are you ready for an exciting, challenging journey through the city? </h2>
  <h3>To reach your destination, you must avoid obstacles Let's go!</h3><br>
  <h3>Instructions:</h3>
  <h3>Double click start to enter the game. <br> Make Bob jump by pressing spacebar. </h3>
  <div>
    <a href='/AdventureBob'><button>START</button>
  </div>
</body>
</html>
