<!DOCTYPE html>
<html>
<head>
  <title>Super Bob</title>
  <link rel="shortcut icon" href="../static/favicon.ico">
  <link rel="stylesheet" href="/static/stylesheet.css">
</head>
<body>
  <h1>Adventures of Super Bob</h1>
  <h2>Are you ready for an exciting, challenging journey through the city? </h2>
  <h3>To reach your destination, you must avoid obstacles and reach score 5000. Let's go!</h3><br>
  <h2>Instructions:</h2>
  <h3>Click start to enter the game.<br>Then click inside the game to control Bob.<br>Make Bob fly by pressing spacebar.<br>You can only increase your score when Bob is running.<br><br> </h3>
  <div>
    <a href='/AdventureBob'><button>START</button>
  </div>
</body>
</html>
